.app-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  padding: 20px; 
  min-height: 100vh; 
  box-sizing: border-box; 
}


.left-panel {
  flex: 0 0 35%; 
  padding-right: 50px; 
  box-sizing: border-box;
}


.right-panel {
  flex: 1; 
  box-sizing: border-box;
}
.product-form-container,
.product-list-container {
  border-style: groove;
  border-color: #01f958;
  background-color: #04751c; 
  border-radius: 12px; 
  padding: 25px; 
  margin-bottom: 30px; 
  border-bottom-color: #01f958;
}
.product-form-container {
  margin-bottom: 25px; 
  color: aliceblue;
}